<div class="min-h-screen flex item-center justify-center">
    <div class="bg-gray-200 p-6 rounded-lg shadow-md w-1/2 mt-5">
        <div class="relative rounded overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-sm text-gray-700 uppercase bg-gray-100">
                    <tr>
                        <th scope="col" class="px-6 py-3">id</th>
                        <th scope="col" class="px-6 py-3">title</th>
                        <th scope="col" class="px-6 py-3">body</th>
                    </tr>
                </thead>
                <tbody>
                    @for(post of posts; track post.id){
                    <tr class="bg-white border-b">
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{post.id}}</td>
                        <td class="px-6 py-4">{{post.title}}</td>
                        <td class="px-6 py-4">{{post.body}}</td>
                    </tr>
                    }@empty {
                    <tr class="text-center">
                        <th colspan="3" class="text-red-400 text-lg">No Posts!</th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>